body {
  padding-top: 50px;
  padding-bottom: 50px;
}

body.index .item .image {
  background: #181818;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}

body.index .item h1 {
  font-size: 1em;
}

body .row.top {
  margin-top: 50px;
}

body .row.bottom {
  margin-bottom: 50px;
}

body.multicam .flash {
  height: 876px;
}

body.capturecam .flash {
  height: 876px;
}